{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "still/index.css" %}">
{% endblock css %}
{% block content %}
<div class="container p-5">
    <div class="row align-items-center main-row">
        <div class="col-lg-6 main">
            <img src="{% static "images/main.png" %}" alt="ruby">
        </div>
        <div class="col-lg-6">
            <p class="hw">&lth1&gt Hello, World!👋 &lt/h1&gt </p>
            <div class="sw-cont">
                <p class="sw">&ltp&gt I'm Rubesh, a curious Software Developer 💻.&lt/p&gt</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}