<ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start reach-me-li">
        <i class="fa-solid fa-user"></i>
        <div class="ms-2 me-auto">
            Name
            <div class="fw-bold">Rubeshchandar Rajkumar</div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start reach-me-li">
        <i class="fa-solid fa-map-pin"></i>
        <div class="ms-2 me-auto">
            Address
            <div class="fw-bold">United Kingdom</div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start reach-me-li">
        <i class="fa-solid fa-envelope"></i>
        <div class="ms-2 me-auto">
            Email
            <div class="fw-bold">rubeshchandar@gmail.com</div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start reach-me-li">
        <i class="fa-brands fa-linkedin"></i>
        <div class="ms-2 me-auto">
            Linkedin
            <div class="fw-bold">
                <a href="https://linkedin.com/in/rubeshchandar">
                    linkedin.com/in/rubeshchandar
                </a>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start reach-me-li">
        <i class="fa-brands fa-github"></i>
        <div class="ms-2 me-auto">
            Github
            <div class="fw-bold">
                <a href="https://github.com/RubeshChandar">
                    github.com/RubeshChandar
                </a>
            </div>
        </div>
    </li>

</ol>