body {
    background-color: #e8e9e8;
}

.navbar {
    align-content: center;
    max-height: 15vh;
    padding: 10px 30px;
}

.max-w {
    width: 100%;
}

.navbar-col {
    background-color: #e8e9e8 !important;
}

.name {
    font-weight: bold !important;
    font-size: 0.8rem;
}

.fa {
    margin: 0 10px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0px 10px;
    padding-bottom: 3px;
}

.links a:hover {
    font-size: 1.1rem !important;
}

.active {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    border-bottom: 2px solid black;
}

.git {
    margin: 0px 10px;
}

.connect-btn {
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
}

.connect {
    background-color: transparent;
    position: relative;
    border-color: #979695;
    color: #979695;
    padding: 25px;
}

.connect::before,
.connect::after {
    position: absolute;
    top: 0;
    left: 0;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
}

.connect::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
}

.connect::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
}

.connect:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

.connect:hover::before {
    width: 100%;
    border-width: 1px 0 1px 0;
}

.connect:hover::after {
    height: 100%;
    border-width: 0 1px 0 1px;
}

@media (width < 1000px) {

    .navbar {
        max-height: none;
    }

    .active {
        font-weight: bold !important;
        font-size: 1.1rem !important;
        border-bottom: 2px solid black;
        display: inline-block;
        width: fit-content;
    }

    .navbar-brand,
    .navbar-toggler {
        margin-bottom: 5px;
    }

    .navbar .text-end {
        margin-top: 1rem;
        text-align: center;
        width: 100%;
    }

    .navbar-nav {
        text-align: center;
        width: 100%;
    }

    .navbar {
        text-align: center;
        flex-direction: column;
    }

    .links a {
        display: inline-block;

    }

    .text-end {
        display: flex;
        justify-content: center !important;
        margin-top: 5px;
        gap: 15px;
    }

    .name {
        font-size: 1rem;
    }
}