{% load static %}
<nav class="navbar navbar-col">

    <div class="row max-w">

        <div class="col-md-3">
            <a class="navbar-brand" href="{% url "home" %}">
                <img src="{% static "images/selfie.ico" %}" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                <span class="name"> Rubesh Chandar </span>
            </a>
        </div>

        {% with request.resolver_match.url_name as url_name %}
        <div class="col-md-6 text-center links">
            <a href="{% url "home" %}" class="{% if url_name == 'home' %}active{% endif %}">Home</a>
            <a href="{% url "resume" %}" class="{% if url_name == 'resume' %}active{% endif %}">Resume</a>
            <a href="">Projects</a>
            <a href="">Blog</a>
        </div>
        {% endwith %}

        <div class="col-md-3 text-end">
            <a href="https://github.com/RubeshChandar" class="git">
                <i class="fa-brands fa-github" style="font-size:30px;color:black"></i>
            </a>
            <a href="https://linkedin.com/in/rubeshchandar" class="linkedin">
                <i class="fa-brands fa-linkedin" style="font-size:30px"></i>
            </a>
        </div>

    </div>

</nav>